GEMINI_MODEL = 'xxxx'
LANGCHAIN_TRACING_V2 = 'true'
LANGCHAIN_ENDPOINT = 'https://api.smith.langchain.com'
LANGCHAIN_API_KEY = 'xxxx'
GOOGLE_API_KEY = 'xxxx'
LANGCHAIN_PROJECT = 'hiver-support-agent'
